# Data
data

# Byte-compiled files
_pycache_

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# personal settings


# Flask stuff:
#instance/
#.webassets-cache
