<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Habits</title>
  </head>
  
  <body>
    {% extends "template.html" %}
    {% block content %}



    <div class="center-on-page">  
    <h1> Restaurant Finder </h1>
    
    <br/>

    <form class="form-inline" action="{{ url_for('result') }}" method="POST">
      <div class="ml-container">

        <form action="{{ url_for('result')}}" method="POST">
        <p>Enter Restaurant Name Here</p>
        <!-- <input type="text" name="comment"/> -->
        <textarea name="comment" rows="2" cols="50"></textarea>
        <br/>
    
        
        <button type="submit" class="btn">Go</button>

        
      </form>
  
      </div>
   
        
       
        

        {% endblock %}
  
      </body>

 
</html>