<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Habits</title>
  </head>
  
  <body>
    {% extends "template.html" %}
    {% block content %}



    <div class="center-on-page">  
    <h1> Restaurant Finder </h1>
    <p> Welcome! Which restaurant would you like to use today? </p>
    
    <br/>

    <!--<form class="form-inline" action="{{ url_for('result') }}" method="POST">-->
      <!--<div class="ml-container">-->

       

        
        
        <form action="{{ url_for('result')}}" method="POST">
          
          <p style="color:white; font-size: small;">Restaurant Name:</p>
          <!-- <input type="text" name="listing"/> -->
          <textarea name="listing" rows="1" cols="30"></textarea>
          <br/>
          
          <p style="color:white; font-size: small;" >Location (City):</p>
          <textarea name="city" rows="1" cols="30"></textarea>
          <br/>

          
            <select name="comp_select" class="selectpicker form-control">

              {% for o in data %}

              <option value="{{ o.name }}">{{ o.name }}</option>

              {% endfor %}

            </select>
       

        <input type="submit" class="btn-info" value="Go">
        <!--<button type="submit" class="btn-info">Go</button>-->
        
        </form>
  
  
      </div>
   
        
       
        

        {% endblock %}
  
      </body>

 
</html>